# Quandl

In [5]:
!pip install -q quandl

In [7]:
import quandl

# API KEY

In [8]:
quandl.ApiConfig.api_key = 'fh8M8UzjrLxaQC1o4LsH'

## Consultas

In [14]:
cape = quandl.get("MULTPL/SHILLER_PE_RATIO_MONTH")
cape

            Value
Date
1871-02-01  10.92
1871-03-01  11.19
1871-04-01  12.05
1871-05-01  12.59
1871-06-01  12.59
...           ...
2021-03-01  35.05
2021-03-31  35.74
2021-04-01  36.50
2021-04-30  37.56
2021-05-01  37.49

[1818 rows x 1 columns]

In [15]:
ipca = quandl.get('BCB/433')
ipca

            Value
Date
1980-01-31   6.62
1980-02-29   4.62
1980-03-31   6.04
1980-04-30   5.29
1980-05-31   5.70
...           ...
2020-11-30   0.89
2020-12-31   1.35
2021-01-31   0.25
2021-02-28   0.86
2021-03-31   0.93

[495 rows x 1 columns]

In [16]:
acucar = quandl.get('CEPEA/SUGAR_C')
acucar

            Price US$  Daily %  Monthly %
Date
2013-01-23      22.02      NaN        NaN
2013-01-24      21.91      NaN        NaN
2013-01-25      22.02      NaN        NaN
2013-01-28      22.07      NaN        NaN
2013-01-29      22.38      NaN        NaN
...               ...      ...        ...
2021-05-05      20.75     1.52       2.02
2021-05-06      21.01     1.25       3.29
2021-05-07      21.12     0.52       3.83
2021-05-10      21.50     1.80       5.70
2021-05-11      21.38    -0.56       5.11

[2052 rows x 3 columns]

In [17]:
big_mac = quandl.get('ECONOMIST/BIGMAC_BRA')
big_mac

            local_price  dollar_ex  ...  yen_adj_valuation  yuan_adj_valuation
Date                                ...
2000-04-30         2.95    1.79000  ...                NaN                 NaN
2001-04-30         3.60    2.19000  ...                NaN                 NaN
2002-04-30         3.60    2.34000  ...                NaN                 NaN
2003-04-30         4.55    3.07000  ...                NaN                 NaN
2004-05-31         5.40    3.18000  ...                NaN                 NaN
2005-06-30         5.90    2.46480  ...                NaN                 NaN
2006-01-31         6.20    2.26150  ...                NaN                 NaN
2006-05-31         6.40    2.30450  ...                NaN                 NaN
2007-01-31         6.40    2.13350  ...                NaN                 NaN
2007-06-30         6.90    1.91300  ...                NaN                 NaN
2008-06-30         7.50    1.58460  ...                NaN                 NaN
2009-07-31         8.03    1.99710  ...                NaN                 NaN
2010-01-31         8.20    1.72330  ...                NaN                 NaN
2010-07-31         8.71    1.77495  ...                NaN                 NaN
2011-07-31         9.50    1.54160  ...         135.584298          140.523510
2012-01-31        10.25    1.80500  ...         102.268770          110.322185
2012-07-31        10.08    2.04215  ...          74.863900           83.290664
2013-01-31        11.25    1.99335  ...         130.705999           98.075590
2013-07-31        12.00    2.27065  ...         138.191302           82.710479
2014-01-31        12.40    2.36305  ...         162.107355           70.598425
2014-07-31        13.00    2.22025  ...         134.892379           99.595715
2015-01-31        13.50    2.59275  ...         125.171671           77.623149
2015-07-31        13.50    3.15235  ...          85.591244           48.955111
2016-01-31        13.50    4.02480  ...          43.132737           18.275336
2016-07-31        15.50    3.24145  ...          82.471360           70.098757
2017-01-31        16.50    3.22395  ...         109.250553           79.153340
2017-07-31        16.50    3.23430  ...         113.060211           73.448284
2018-01-31        16.50    3.22790  ...         109.832495           59.849499
2018-07-31        16.90    3.83835  ...          75.100000           39.800000
2019-01-31        16.90    3.71795  ...          78.900000           46.300000
2019-07-31        17.50    3.80730  ...          74.300000           48.300000
2020-01-31        19.90    4.14190  ...          87.100000           55.100000
2020-07-31        20.90    5.34045  ...          52.300000           27.400000
2021-01-31        21.90    5.50460  ...          48.400000           17.200000

[34 rows x 10 columns]

In [18]:
btc = quandl.get('BCHAIN/MKPRU')
btc

               Value
Date
2009-01-02      0.00
2009-01-03      0.00
2009-01-04      0.00
2009-01-05      0.00
2009-01-06      0.00
...              ...
2021-05-08  57380.27
2021-05-09  58928.81
2021-05-10  58280.73
2021-05-11  55883.50
2021-05-12  56750.00

[4514 rows x 1 columns]